<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="row between-xs middle-xs header-row">
          <nav>
                <img class="header__img" src="../../../../assets/logo.png" alt="">
                <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
                <a mat-button routerLink="/recovered" routerLinkActive="active">Recuperados</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Contacto</a>
          </nav>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
