nav > a {
  padding: 5px;
  text-decoration: none;
}
nav > a.active {
  background-color: rgb(29, 90, 221);
}

.header-row {
  width: 100%;
}

.header__img {
  width: 70px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 8px;
  justify-content: space-between;
}





