<div class="container">
  <div class="row mt-5" *ngIf="recovered">
    <div class="col-md-4 mx-auto">
      <app-incrementador></app-incrementador>
      <img src="../../../../assets/usuario-recovered.jpg" alt="usuario">
        <div class="card">
            <div class="card-header">
              <b>Detalle</b>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Id: </b>{{recovered.id}}</li>
              <li class="list-group-item"><b>Nombre: </b>{{recovered.name}}</li>
              <li class="list-group-item"><b>Edad: </b>{{recovered.age}}</li>
            </ul>
            <div class="card-footer">
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </div>
          </div>
    </div>
  </div>
</div>
