<body>
  <footer>
      <div class="container-footer-all">
          <div class="container-body">
              <div class="column1">
                  <h1>Quienes somos</h1>
                  <p>Entidad sin ánimo de lucro</p>
                  <a href=""><img href="" src="../../../../assets/icon-recovered.png"></a>
              </div>
              <div class="column2">
                  <h1>Redes Sociales</h1>
                  <div class="row">
                      <img src="../../../../assets/icon- facebook.png">
                      <label>Siguenos en Facebook</label>
                  </div>
                  <div class="row">
                      <img src="../../../../assets//icon-linkedin.png">
                      <label>Siguenos en Linkedin</label>
                  </div>
                  <div class="row">
                      <img src="../../../../assets/icon-twitter.png">
                      <label>Siguenos en Twitter</label>
                  </div>
              </div>
              <div class="column3">
                  <h1>Información Contactos</h1>
                  <div class="row2">
                      <img src="../../../../assets//icon-email.png">
                      <label>info@recovered.com</label>
                  </div>
                  <div class="row2">
                      <img src="../../../../assets/icon-celular.png">
                      <label>3003003030</label>
                  </div>
              </div>
          </div>
      </div>
      <div class="container-footer">
          <div class="footer">
              <div class="copyright">
                  &copy;  2019 Todos los derechos reservados | <a href="">Recovered</a>
              </div>
              <div class="information">
                  <a href="">Información Compañia</a> | <a href="">Privación y Politica</a> | <a href="">Terminos y Condiciones</a>
              </div>
          </div>
      </div>
  </footer>
</body>
