body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}

h1 {
  margin: 10px;
}


p {
  margin: 30px;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.error-message_container {
  text-align: center;
  color: white;

  h1 {
      font-size: 100px;
  }
  p {
      font-size: 23px;
  }
}

.animated {
  animation-duration: 2.0s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.bounce {
  animation-name: bounce;
}
